@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .navbar-active::after {
        @apply w-full;
    }
}

/* Animasi untuk Section About Us */
@keyframes slide-in-up {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-in-up {
    /* Terapkan animasi dan atur agar tetap di state akhir */
    animation: slide-in-up 0.8s ease-out forwards;
    /* Mulai dalam keadaan transparan */
    opacity: 0;
}

/* Kelas untuk menunda animasi agar muncul berurutan */
.delay-300 { animation-delay: 0.3s; }
.delay-500 { animation-delay: 0.5s; }
.delay-700 { animation-delay: 0.7s; }